
.navbar-default {
  background-color: #ffffff;
}

.mainContent {
  margin-top: 54px;
  background-color: red;
  overflow: hidden;
  width: 200px;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: inherit;
  color: #333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
.floatLeft {
  float:left;
}

.container {
  display:inline-block;
}

.childLeft {
  float: left;
  background-color: blue;
  width: 15%;
  margin: 3px;
}

.childRight {
  float: right;
  background-color: blue;
  width: 85%;
  margin: 3px;
}

.inner {
  overflow: hidden;
  width: 2000px;
}

.SideContainer {
  float: left;
  padding-top: 70px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right:3px;
  display:inline-block;
}

.form-horizontal {
  float: right;
}
